.about{
    flex-basis: 100%;
    box-shadow: var(--elevation-1);
    padding: 1rem;
    border-radius: var(--border-radius-card);
    background-color: var(--color-primary-400);
    color: white;
}

.aboutMe p::after{
    content: " on the right";
}

.about{
    height: 34%;
    overflow: hidden;
    margin-bottom: 2%;
}



.about{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.socialLinks{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.socialLinks li{

    display: flex;
}

.socialLinks li img{
    margin: 0;
    padding: 0;
    width: 36px;
    margin-right: 1rem;
}


@media (max-width: 1116px){
    .aboutMe p::after{
        content: " down below";
    }
}

@supports(backdrop-filter: blur(2px)){
    .about{
        backdrop-filter: blur(2px);
        background-color: rgb(44, 75, 156, .95);
        
    }
}



