.contact{
    display: flex;
    flex-flow: row wrap;
    height: 64%;
    overflow: hidden;
    flex-basis: 100%;
    box-shadow: var(--elevation-1);
    padding: 0 1rem;
    border-radius: var(--border-radius-card);
    align-items: flex-start;
    /* background-color: var(--color-neutral-300); */
    background-color: rgba(84, 93, 116, .95);
    color: var(--color-neutral-100);
}

.contact h2,
.contact input,
.contact textarea{
    flex-basis: 100%;
    resize: none;
}

.contact span{
    margin-left: auto;
    align-self: flex-end;
    color: red;
    font-weight: 600;
    font-size: var(--text-sm)
}

.contact input,
.contact textarea{
    flex-basis: 100%;
    border-radius: 7.5px;
    border-style: solid;
    padding:0.25rem 0.5rem;
    font-family: var(--font-family-body);
    font-size: var(--text-sm);
}



.contact div{
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
}

.contact h2{
    margin-bottom: 0;
}

.contact textarea{
    padding:0.5rem;
    overflow-y: auto;
    min-height: 200px;
}

.contact label{
    padding-top: 1rem;
    line-height: var(--base-size);
}

/*Send Button*/
.contact input[type=submit]{
    flex-basis: 33%;
    max-width: 200px;
    margin-left: auto;
    border: none;
    background-color: var(--color-primary-300);
    color: var(--color-neutral-100);
    margin: 1rem 0 1rem auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.contact input[type=submit]:hover{
    color: white;
    font-weight: 600;
}

@supports(backdrop-filter: blur(3px)){
    .contact{
        backdrop-filter: blur(3px);
        
    }
}

.invalid {
    background-color: #fddde6;
}