.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--reversed-txt-clr);
    box-shadow: var(--elevation-10);
    border-radius: 7.5px;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    width: 600px;
}