.app{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 1rem;
    background-image: url(./assets/images/PatternBackground.jpg);
    background-repeat: repeat;
    background-size: 70%;
}

.me{
    flex-basis: 33%;
    display: flex;
    flex-flow: row wrap;
}

.projects{
    flex-basis: 66%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    margin-left: 1%;
    justify-content: flex-end;
}

.projects article{
    flex-basis: 48%;
    margin-right: 2%;
    height: 48%;
}

@media (max-width: 1116px){
    .app{
        height: auto;
        min-height: 100vh;
    }

    .projects{
        flex-basis: 96%;
        margin: 1rem 2%;
    }

    .me{
        flex-basis: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: 1rem 2%;
        height: 100%;
    }

    .projects article{
        flex-basis: 49%;
        height: auto;
        overflow: hidden;
        min-height: 400px;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px){
    .projects article{
        height: auto;
        flex-basis: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}